html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

#container {
	flex: 1;
	display: grid;
	grid-template-columns: 200px 1fr;
}

header {
	background-color: rgb(218, 95, 223);
	height: 50px;
}
.projects {
	background-color: rgb(125, 125, 243);
}

.todos {
	background-color: rgb(248, 248, 161);
}
